@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html,
body {
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif !important;
}
body{
    overflow-y: hidden;
}

.bc-ferries-h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.text-container {
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0px 5px 10px rgb(201, 201, 201);
    transition: margin-top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.text-container:hover {
    margin-top: -0.1rem;
    box-shadow: 0px 5px 16px #32228a;
}

.landing-image-bc-ferries {
    height: 26rem;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    /* margin-left: -4rem;
    margin-right: -4rem; */
    z-index: 22;
    background-image: url(./src/assets/ferrydes.svg);
    padding-bottom: 2rem;
}
.canvas-el-class{
    margin-top: 4rem;
    height: 30rem;
    width: 100%;
}
.gen-timeline{
    margin-top: 8rem;
    height: 20rem;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    /* margin-left: -4rem;
    margin-right: -4rem; */
    z-index: 22;
    background-image: url(./src/assets/motion_timeline_bc_ferries.gif);
    padding-bottom: 2rem;
    transform: scale(1.6);
}