/*CSS CREATED BY SAMMY ROBENS-PARADISE
    CURRENT AS OF: 2018-06-29
*/



.lead,
.navbar-brand {
    color: #ffff !important;
}

.landing-image{
    background-image: url("src/assets/website-coverimage2.png");
    height: 30rem;
    background-size: cover;
    width: 120%;
    background-repeat: no-repeat;
    margin-left: -4rem;
    margin-right: -4rem;
    z-index: 22;
     
}
.landing-text{
    position: absolute;
    top: 5rem;
    background: -webkit-linear-gradient(#333, rgb(192, 190, 190));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link {
    color: #ffff;
}

.nav-link:hover {
    color: #32228a;
    cursor: pointer;
}

.navbar.navbar-default {
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0px 0.3px #ffff;
}
.navbar-toggler{
    background-color: grey !important;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.section-link-out{
   margin-top: -1rem;
    background-color: #0d0d0d;
}
.container{
    background-color: #0d0d0d;
}
.card-body{
    background-color: #f4f8fc;
}
.card{
    background-color: #f4f8fc;
    margin-bottom: 2rem;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.ul {
    list-style-type: disc;
}

.projects-section-title {
    background-color: #adadad;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    box-shadow: 0px 5px #ffff;
}

.projects-section-title:hover {
    background-color: #404040;
}

h3 {
    color: #ffff !important;
    color: white;
}

.projects-left-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.projects-left-header:hover {
    background-color: #000000;
}

.row {
    padding: 4px;
}

.projects-right-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.projects-right-header:hover {
    background-color: #000000;
}

.experience-section-title {
    background-color: #adadad;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    box-shadow: 0px 5px #ffff;
}

.experience-section-title:hover {
    background-color: #404040;
}

.experience-left-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.experience-left-header:hover {
    background-color: #000000;
}

.experience-right-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.experience-right-header:hover {
    background-color: #000000;
}

.education-section-title {
    background-color: #adadad;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    box-shadow: 0px 5px #ffff;
}

.education-section-title:hover {
    background-color: #404040;
}

.education-left-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.education-left-header:hover {
    background-color: #000000;
}

.education-right-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.education-right-header:hover {
    background-color: #000000;
}

.sammy-section-title {
    background-color: #adadad;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    box-shadow: 0px 5px #ffff;
}

.sammy-section-title:hover {
    background-color: #404040;
}

.sammy-left-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.sammy-left-header:hover {
    background-color: #000000;
}

.sammy-right-header {
    background-color: #404040;
    padding: 0;
    height: auto;
    color: #ffff;
    color: white;
    -webkit-transition: background-color 1s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
}

.img_ {

    opacity: 0.6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa {
    color: #ffff;
}

.blockquote {
    color: #ffff;
    color: white;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
    background-color: #ffff;
    background-color: white;
    -webkit-transition: background-color 6s;
    transition: background-color 6s;
}
.loader:hover{
    background-color: #adadad;
}
.loaderIcon{
    border: 20px solid #f3f3f3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;   
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
