img{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(253, 253, 253, 0.19);
    opacity: 0.6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    border: inset;
    border-color: #adadad;
    border-width: 1px;
    border-radius: 5px;
    opacity: 0.5;
}
.container{
    border: solid;
    border-color: #ffff;
    border-color: white;
    border-width: 0px;
}